@import url('https://fonts.googleapis.com/css?family=Lobster:300,400');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue:300,400');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:300,400');
/* You can add global styles to this file, and also import other style files */
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}

  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
}

th {
  background: #eee;
}

.border-3 {
  border-width: 3px !important;
}

.legend .row:nth-of-type(odd) div {
  background-color: #dae5f4;
}

.legend .row:nth-of-type(even) div {
  background-color: #b8d1e3;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.smallpadding {
  padding: 3px !important;
  margin: 3px !important;
}

.stylingfortitlefont {
  font-family: Lobster;
  color: white;
  font-size: x-large;
}

.stylingforheaderfont {
  font-family: Bebas Neue;
}

.stylingforcellfont {
  font-family: Ropa Sans;
}

@media (max-width:800px) {

  #top.row {
    display: none !important;
  }
}
