<p>Data</p>

<p *ngIf="!Adverts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Adverts">
  <thead>
    <tr>
      <th>Price</th>
      <th>Description</th>
      <th>Location</th>
      <th>Date</th>
      <th>Image</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let advert of Adverts">
      <td>{{ advert.price }}</td>
      <td>{{ advert.description }}</td>
      <td>{{ advert.location }}</td>
      <td>{{ advert.advertDate }}</td>
      <td><img src="{{ advert.thumbnailLink }}" /></td>
      <td><a target="_blank" href="{{ advert.advertLink }}">Link</a></td>
    </tr>
  </tbody>
</table>
