<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<p *ngIf="!Adverts"><em>Loading...</em></p>

<div class="sticky-top bg-white">
  <div name="navigation" class="container" *ngIf="Adverts">
    <div class="row smallpadding">
      <div class="col-sm-5">
        <ul class="pagination justify-content-center align-self-center">
          <li class="page-item" *ngFor="let page of paginateShow" [ngClass]="{'active': page.PageNumber == selectedPageString}"><a class="page-link" [href]="" (click)="fillPaginationShow(page.PageNumber)">{{ page.PageNumber }}</a></li>
        </ul>
      </div>
      <div class="col-sm-5">
        <select name="searchCriterias" class="custom-select" (change)="onChangeEvent($event)">
          <option value="0" selected>Search Criteria Selection</option>
          <option value="{{ searchMaster.id }}" *ngFor="let searchMaster of SearchMasters">{{ searchMaster.description }} ({{ searchMaster.recordCount }})</option>
        </select>
      </div>
      <div class="col-sm-2">
        <input #advertsFilter type="text" class="form-control" placeholder="Filter Adverts" (keyup)="keyUpEvent(advertsFilter.value)">
      </div>
    </div>
  </div>

  <div class="container" *ngIf="Adverts">
    <div class="row bg-dark text-white border-dark border-3 border" id="top">
      <div class="col-sm-3">
        <h5>
          <a [href]="" (click)="sortAdverts('description')">Description</a>
          <span *ngIf="sortType == 'description' && !sortReverse" class="fa fa-caret-down offset-1"></span>
          <span *ngIf="sortType == 'description' && sortReverse" class="fa fa-caret-up offset-1"></span>
        </h5>
      </div>
      <div class="col-sm-1">
        <h5>
          Picture
        </h5>
      </div>
      <div class="col-sm-2">
        <h5>
          <a [href]="" (click)="sortAdverts('price_sort')">Price</a>
          <span *ngIf="sortType == 'price_sort' && !sortReverse" class="fa fa-caret-down offset-1"></span>
          <span *ngIf="sortType == 'price_sort' && sortReverse" class="fa fa-caret-up offset-1"></span>
        </h5>
      </div>
      <div class="col-sm-2">
        <h5>
          <a [href]="" (click)="sortAdverts('location')">Location</a>
          <span *ngIf="sortType == 'location' && !sortReverse" class="fa fa-caret-down offset-1"></span>
          <span *ngIf="sortType == 'location' && sortReverse" class="fa fa-caret-up offset-1"></span>
        </h5>
      </div>
      <div class="col-sm-1">
        <h5>
          <a [href]="" (click)="sortAdverts('date_sort')">Date</a>
          <span *ngIf="sortType == 'date_sort' && !sortReverse" class="fa fa-caret-down offset-1"></span>
          <span *ngIf="sortType == 'date_sort' && sortReverse" class="fa fa-caret-up offset-1"></span>
        </h5>
      </div>
      <div class="col-sm-1">
        <h5>
          <a [href]="" (click)="sortAdverts('room')">Room</a>
          <span *ngIf="sortType == 'room' && !sortReverse" class="fa fa-caret-down offset-1"></span>
          <span *ngIf="sortType == 'room' && sortReverse" class="fa fa-caret-up offset-1"></span>
        </h5>
      </div>
      <div class="col-sm-1">
        <h5>
          <a [href]="" (click)="sortAdverts('size')">Size</a>
          <span *ngIf="sortType == 'size' && !sortReverse" class="fa fa-caret-down offset-1"></span>
          <span *ngIf="sortType == 'size' && sortReverse" class="fa fa-caret-up offset-1"></span>
        </h5>
      </div>
      <div class="col-sm-1">
        <h5>
          <a [href]="" (click)="sortAdverts('heating')">Heating</a>
          <span *ngIf="sortType == 'heating' && !sortReverse" class="fa fa-caret-down offset-1"></span>
          <span *ngIf="sortType == 'heating' && sortReverse" class="fa fa-caret-up offset-1"></span>
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="container legend" *ngIf="filteredAdverts">
  <div class="row border-top border-left border-right border-dark border-3 justify-content-center align-self-center" *ngFor="let advert of paginatedAdverts">
    <div class="col-sm-3 table-bordered">
      <a target="_blank" href="{{ advert.advertLink }}">{{ advert.description }}</a>
    </div>
    <div class="col-sm-1 table-bordered nopadding text-center">
      <img *ngIf="advert.thumbnailLink" width="120" height="90" src="{{ advert.thumbnailLink }}" />
    </div>
    <div class="col-sm-2 table-bordered text-center">
      {{ advert.price }}
    </div>
    <div class="col-sm-2 table-bordered text-center">
      {{ advert.location }}
    </div>
    <div class="col-sm-1 table-bordered text-center">
      {{ advert.advertDate }}
    </div>
    <div class="col-sm-1 table-bordered text-center">
      {{ advert.room }}
    </div>
    <div class="col-sm-1 table-bordered text-center">
      {{ advert.size }}
    </div>
    <div class="col-sm-1 table-bordered text-center">
      {{ advert.heating }}
    </div>
  </div>
  <div class="row border-top border-dark border-3"></div>
</div>
<br />
